@import url(../../../mainStyles/fonts.css);

.heroSection
{
    width: 100%;
    height: fit-content;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: 'WorkSans';
    color: white;
}

.home .heroSection .heroSectionFrame
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.home .heroSection .heroSectionFrame .headline
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.home .heroSection .heroSectionFrame .headline h4
{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
    text-align: start;
}

.home .heroSection .heroSectionFrame .headline span
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-align: start;
}

.home .heroSection .heroSectionFrame .highlightedNFT
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 315px;
    overflow: hidden;
}

.home .heroSection .heroSectionFrame .highlightedNFT img.highlightedNFT
{
    object-fit: cover;
    object-position: center;
    flex: 1;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.home .heroSection .heroSectionFrame .highlightedNFT .highlightedNFTInfo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 109px;
    width: -webkit-fill-available;
    padding: 20px;
    background-color: var(--secondary-background);
    border-radius: 0 0 20px 20px;
}

.home .heroSection .heroSectionFrame .highlightedNFT .highlightedNFTInfo h5
{
    font-size: 22px;
    line-height: 140%;
    font-weight: 600;
}

.home .heroSection .heroSectionFrame .highlightedNFT .highlightedNFTInfo .artist
{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.home .heroSection .heroSectionFrame .highlightedNFT .highlightedNFTInfo .artist .avatar
{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.home .heroSection .heroSectionFrame .highlightedNFT .highlightedNFTInfo .artist span
{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.home .heroSection .heroSectionFrame button, .home .heroSection .heroSectionFrame .headline button.forTablet
{
    background-color: var(--callToAction);
    border: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 60px;
    width: 100%;
    color: white;
    line-height: 140%;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px;
}


.home .heroSection .heroSectionFrame button img.rocketLaunch
{
    width: 20px;
    height: 20px;
}

.home .heroSection .heroSectionFrame .additionalInfo
{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.home .heroSection .heroSectionFrame .additionalInfo .additionalInfoItem
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home .heroSection .heroSectionFrame .additionalInfo .additionalInfoItem h5
{
    line-height: 160%;
    font-size: 22px;
    font-weight: 700;
    font-family: 'SpaceMono';
}
.home .heroSection .heroSectionFrame .additionalInfo .additionalInfoItem span:nth-of-type(1)
{
    font-size: 16px;
    line-height: 140%;
}

.home .heroSection .forTablet
{
    display: none !important;
}

@media (min-width: 750px)
{
    .heroSection
    {
        padding: 80px 72px;
    }
    .home .heroSection .heroSectionFrame
    {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .home .heroSection .heroSectionFrame .headline
    {
        order: 1;
        width: 40%;
        gap: 20px;
    }
    .home .heroSection .heroSectionFrame .highlightedNFT {
        order: 2;
        width: 50%;
        flex-direction: column-reverse;
        height: 330px;
    }
    .home .heroSection .heroSectionFrame button
    {
        display: none;
    }
    .home .heroSection button.forTablet {
        display: flex !important;
    }
    .home .heroSection .heroSectionFrame .additionalInfo
    {
        display: none;
    }
    .home .heroSection .heroSectionFrame .additionalInfo.forTablet
    {
        display: flex !important;
        gap: 20px;
    }
}

@media (min-width: 1280px)
{
    .home .heroSection 
    {
        padding: 80px 115px;
    }
    .home .heroSection .heroSectionFrame .headline
    {
        width: 510px;
        align-items: flex-start;
    }
    .home .heroSection .heroSectionFrame .headline h4
    {
        font-size: 67px;
        line-height: 110%;
    }
    .home .heroSection .heroSectionFrame .headline span
    {
        font-size: 22px;
        line-height: 160%;
    }
    .home .heroSection .heroSectionFrame .highlightedNFT
    {
        height: 510px;
        width: 45%;
    }
    .home .heroSection .heroSectionFrame button.forTablet
    {
        display: flex !important;
        padding: 0 50px !important;
        width: fit-content !important;
    }
    .home .heroSection .heroSectionFrame .headline .additionalInfo.forTablet
    {
        display: flex !important;
        justify-content: flex-start;
    }
    .home .heroSection .heroSectionFrame .additionalInfo .additionalInfoItem h5
    {
        line-height: 140%;
        font-size: 28px;
    }
    .home .heroSection .heroSectionFrame .additionalInfo .additionalInfoItem span:nth-of-type(1)
    {
        font-size: 24px;
        line-height: 160%;
    }
}