:root
{
    --background: #2b2b2b;
    --secondary-background: #3B3B3B;
    --callToAction: #A259FF;
    --captionAndLabelText: #858584;
    --footer-text: #CCCCCC;
    --green: #00AC4F;
    --red: #cb0000;
}