@import url(../../../mainStyles/colors.css);
@import url(../../../mainStyles/fonts.css);

.artistPage .tabBar
{
    padding: 10px 30px 0;
    font-family: 'WorkSans';
}

.artistPage .tabBar .tabs
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    width: 100%;
}

.artistPage .tabBar .tabs .tab
{
    width: -webkit-fill-available;
    height: 60px;
    align-content: center;
    text-align: center;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: var(--captionAndLabelText);
}

.artistPage .tabBar .tabs input[type="radio"]:checked + .tab
{
    border-bottom: 2px solid var(--captionAndLabelText);
    color: white;
}

@media (min-width: 750px)
{

    .artistPage .tabBar .tabs .tab
    {
        padding: 0 60px;
    }
}
@media (min-width: 1280px)
{
    .artistPage .tabBar .tabs
    {
        justify-content: space-evenly;
        width: 1050px;
        margin: 0 auto;
    }
    .artistPage .tabBar .tabs .tab
    {
        font-size: 22px;
    }
}