@import url(../../../mainStyles/colors.css);
@import url(../../../mainStyles/fonts.css);

.home .topRatedArtists
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 30px;
    color: white;
    font-family: 'WorkSans';
}

.home .topRatedArtists .headline
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.home .topRatedArtists .headline h4
{
    font-size: 28px;
    line-height: 140%;
    font-weight: 600;
}
.home .topRatedArtists .headline span
{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    text-align: start;
}

.home .topRatedArtists .artistCardsRow
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    gap: 20px;
    counter-reset: pos;
}

.home .topRatedArtists .artistCardsRow .artistCard
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary-background);
    counter-increment: pos;
}

.home .topRatedArtists .artistCardsRow .artistCard .avatar
{
    position: relative;
    width: 60px;
    height: 60px;
}

.home .topRatedArtists .artistCardsRow .artistCard .avatar img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.home .topRatedArtists .artistCardsRow .artistCard .avatar .ratingPosition::before
{
    background-color: var(--background);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    content: counter(pos);
    position: absolute;
    top: -7px;
    left: -7px;
}

.home .topRatedArtists .artistCardsRow .artistCard .artistInfo
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.home .topRatedArtists .artistCardsRow .artistCard .artistInfo h5.name
{
    font-size: 22px;
    line-height: 140%;
    font-weight: 600;
}

.home .topRatedArtists .artistCardsRow .artistCard .artistInfo .additionalInfo
{
    display: flex;
    align-items: center;
    gap: 5px;
}

.home .topRatedArtists .artistCardsRow .artistCard .artistInfo .additionalInfo .totalSales
{
    color: var(--captionAndLabelText);
    font-size: 16px;
    line-height: 140%;
}

.home .topRatedArtists .artistCardsRow .artistCard .artistInfo .additionalInfo .spent
{
    font-family: "SpaceMono";
    font-size: 16px;
    line-height: 140%;
}

.home .topRatedArtists button
{
    width: 315px;
    height: 60px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid var(--callToAction);
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.home .topRatedArtists button img
{
    width: 20px;
    height: 20px;
}

.home .topRatedArtists .forDesktop
{
    display: none !important;
}

@media (min-width: 750px)
{
    .home .topRatedArtists
    {
        padding: 40px 72px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .home .topRatedArtists .headline
    {
        width: 45%;
        order: -2;
    }
    .home .topRatedArtists button
    {
        order: -1;
        width: 45%;
    }
    .home .topRatedArtists .artistCardsRow
    {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .home .topRatedArtists .artistCardsRow .artistCard
    {
        width: 48%;
    }
}

@media (min-width: 1250px)
{
    .home .topRatedArtists
    {
        padding: 80px 115px;
    }
    .home .topRatedArtists .headline h4
    {
        font-size: 38px;
        line-height: 120%;
    }
    .home .topRatedArtists .headline span
    {
        font-size: 22px;
        line-height: 160%;
    }
    .home .topRatedArtists button
    {
        width: fit-content;
    }
    .home .topRatedArtists .artistCardsRow .artistCard
    {
        width: 22%;
        flex-direction: column;
        align-items: center;
    }
    .home .topRatedArtists .artistCardsRow .artistCard .artistInfo h5.name
    {
        width: 100%;
    }
    .home .topRatedArtists .artistCardsRow .artistCard .avatar
    {
        position: relative;
        width: 120px;
        height: 120px;
    }

    .home .topRatedArtists .artistCardsRow .artistCard .avatar img
    {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .home .topRatedArtists .artistCardsRow .artistCard .avatar .ratingPosition::before
    {
        left: -40px;
        top: -6px;
    }
    .home .topRatedArtists .forDesktop
    {
        display: flex !important;
    }
}