@import url(../../../mainStyles/colors.css);
@import url(../../../mainStyles/fonts.css);

.home .browseCategories
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 40px 30px;
    font-family: 'WorkSans';
    color: white;
}

.home .browseCategories h4.headline
{
    font-size: 28px;
    line-height: 140%;
    font-weight: 600;
    align-self: flex-start;
}

.home .browseCategories .categoryCardsGrid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;   /* відстань між елементами по горизонталі */
    row-gap: 20px;      /* відстань між рядами */
    align-items: stretch;
}

.home .browseCategories .categoryCardsGrid .categoryCard
{
    background-color: var(--secondary-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: fit-content; */
}

.home .browseCategories .categoryCardsGrid .categoryCard img
{
    border-radius: 20px 20px 0 0;
}

.home .browseCategories .categoryCardsGrid .categoryCard span
{
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    padding: 20px 20px 25px 20px;
    height: fit-content;
    align-self: flex-start;
    text-align: start;
}

@media (min-width:750px)
{
    .home .browseCategories
    {
        padding: 40px 72px;
    }
    .home .browseCategories h4.headline
    {
        width: 100%;
        text-align: start;
    }
    .home .browseCategories .categoryCardsGrid
    {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    .home .browseCategories .categoryCardsGrid .categoryCard img
    {
        width: 100%;
    }
}

@media (min-width:1280px)
{
    .home .browseCategories
    {
        padding: 80px 115px;
    }
    .home .browseCategories h4.headline
    {
        font-size: 38px;
        line-height: 120%;
    }
    .home .browseCategories .categoryCardsGrid .categoryCard
    {
        border-radius: 40px 40px 20px 20px;
    }
    .home .browseCategories .categoryCardsGrid .categoryCard img
    {
        width: 100%;
    }
    .home .browseCategories .categoryCardsGrid .categoryCard span
    {
        font-size: 22px;
    }
}