@import url(../../../mainStyles/colors.css);
@import url(../../../mainStyles/fonts.css);

.home .trendingCollection
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 30px;
    width: 100%;
    color: white;
    font-family: 'WorkSans';
}

.home .trendingCollection .sectionHeadline
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.home .trendingCollection .sectionHeadline h4
{
    font-size: 28px;
    line-height: 140%;
    font-weight: 600;
}

.home .trendingCollection .sectionHeadline span
{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    text-align: start;
}

.home .trendingCollection .collectionSlider
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    width: 315px;
}

.home .trendingCollection .collectionSlider .photos
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.home .trendingCollection .collectionSlider .photos .primaryPhoto
{
    height: 315px;
    border-radius: 20px;
}

.home .trendingCollection .collectionSlider .photos .collection
{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.home .trendingCollection .collectionSlider .photos .collection img, .photoReplacer
{
    height: 95px;
    width: 95px;
    border-radius: 20px;
}

.home .trendingCollection .collectionSlider .photos .collection .photoReplacer
{
    background-color: var(--callToAction);
    font-family: 'SpaceMono';
    text-align: center;
    align-content: center;
}

.home .trendingCollection .collectionSlider .collectionInfo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.home .trendingCollection .collectionSlider .collectionInfo .collectionName
{
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.home .trendingCollection .collectionSlider .collectionInfo .artistCard
{
    display: flex;
    align-items: center;
    gap: 12px;
}
.home .trendingCollection .collectionSlider .collectionInfo .artistCard .avatar
{
    border-radius: 50%;
}

.home .trendingCollection .collectionSlider .collectionInfo .artistCard span
{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.home .trendingCollection .forTablet, .home .forDesktop
{
    display: none !important;
}

@media (min-width: 750px)
{
    .home .trendingCollection
    {
        padding: 40px 72px;
    }
    .home .trendingCollection .collectionSlider
    {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
    }
    .home .trendingCollection .collectionSlider .photos
    {
        width: 48%;
    }
    .home .trendingCollection .collectionSlider .photos .primaryPhoto
    {
        width: 100%;
        height: auto;
    }
    .home .trendingCollection .collectionSlider .photos .collection
    {
        width: 100%;
        justify-content: space-around;
    }
    .home .trendingCollection .collectionSlider .photos .collection img, .photoReplacer
    {
        height: -webkit-fill-available;
        width: 30%;
    }
    .home .trendingCollection .forTablet
    {
        display: flex !important;
    }
}

@media (min-width: 1280px)
{
    .home .trendingCollection
    {
        padding: 80px 115px;
    }
    .home .trendingCollection .sectionHeadline h4
    {
        font-size: 38px;
        line-height: 120%;
    }
    .home .trendingCollection .sectionHeadline span
    {
        font-size: 22px;
        line-height: 160%;
    }
    .home .trendingCollection .collectionSlider
    {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .home .trendingCollection .collectionSlider .photos
    {
        width: -webkit-fill-available;
    }
    .home .trendingCollection .forDesktop, .home .trendingCollection .forTablet
    {
        display: flex !important;
    }
}