@import url(../../mainStyles/colors.css);
@import url(../../mainStyles/fonts.css);

.nftmw
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    padding: 100px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.nftmw .content
{
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.nftmw .content .NFTCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: var(--background);
    overflow: hidden;
    width: 315px;
    scale: 0.9;
}

.nftmw .content .NFTCard img.NFTImage
{
    height: 238px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.nftmw .content .NFTCard .NFTInfo
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 20px 25px;
}

.nftmw .content .NFTCard .NFTInfo .artistInfo
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.nftmw .content .NFTCard .NFTInfo .artistInfo h5.NFTName
{
    font-size: 22px;
    line-height: 140%;
    font-weight: 600;
}

.nftmw .content .NFTCard .NFTInfo .artistInfo span.nftId
{
    font-size: 12px;
    line-height: 140%;
    color: var(--captionAndLabelText);
    width: 100%;
    position: relative;
    text-align: start;
    display: inline-flex;
    align-items: center;
    &::after
    {
        content: '';
        width: 12px;
        height: 12px;
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        background-image: url(./../../../assets/images/copyIcon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(50%) sepia(4%) saturate(241%) hue-rotate(201deg) brightness(94%) contrast(88%);
    }
}

.nftmw .content .NFTCard .NFTInfo .artistInfo .artist
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nftmw .content .NFTCard .NFTInfo .artistInfo .artist img
{
    width: 24px;
    height: 24px;
}

.nftmw .content .NFTCard .NFTInfo .artistInfo .artist span.name
{
    font-size: 16px;
    line-height: 140%;
}

.nftmw .content .NFTCard .NFTInfo .additionalInfo
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nftmw .content .NFTCard .NFTInfo .additionalInfo .price, .highestBid
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.nftmw .content .NFTCard .NFTInfo .additionalInfo .highestBid
{
    align-items: flex-end;
}

.nftmw .content .NFTCard .NFTInfo .additionalInfo .price span, .highestBid span
{
    color: white;
    font-family: 'SpaceMono';
    font-size: 12px;
    line-height: 110%;
}

.nftmw .content .NFTCard .NFTInfo .additionalInfo .price span:nth-of-type(1), .highestBid span:nth-of-type(1)
{
    color: var(--captionAndLabelText);
    font-size: 12px;
    line-height: 110%;
}

.nftmw .content .controls
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nftmw .content .controls button
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 46px;
    width: 120px;
    color: white;
    
    line-height: 140%;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px;

    border-radius: 20px;

    
    &:nth-of-type(1)
    {
        background-color: transparent;
        border: 2px solid var(--callToAction);
    }
    &:nth-of-type(2)
    {
        background-color: var(--callToAction);
        border: 0;
    }
}

@media (min-width: 750px)
{
    .nftmw .content
    {
        width: 355px;
    }
    .nftmw .content .NFTCard
    {
        width: 355px;
    }
    .nftmw .content .controls button
    {
        width: 150px;
    }
}
@media (min-width: 1280px)
{
    .nftmw .content
    {
        width: 385px;
    }
    .nftmw .content .NFTCard
    {
        width: 385px;
    }
    .nftmw .content .controls button
    {
        width: 170px;
        height: 60px;
    }
}